<h2>作品名</h2>
<p><%= @film.title %></p>

<h2>レビュー</h2>
<p><%= @film.impressions %></p>

<h2>画像</h2>
  <% if @film.image.attached? %>
    <%= image_tag @film.image, size: "200x200" %>
  <% else %>
    <%= image_tag  'no_image2', size: "200x200"%>
  <% end %>

<%= link_to "編集", edit_film_path(@film.id) %>
<%= link_to "削除", film_path(@film.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>