<!DOCTYPE html>
<html>
  <head>
    <title>MovieReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="headline">All Films</h1>
    </header>
    <nav>
      <ul class="nav-film">
        <li class="nav-film-item">
          <%= link_to "Top", top_path %>
        </li>
        <li class="nav-film-item">
          <%= link_to "Films", films_path %>
        </li>
        <li class="nav-film-item">
          <%= link_to "New Films", new_film_path %>
        </li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
